/* Add your profile image here */
.Photo {
  background-image: url('https://rieger-bucket.s3.amazonaws.com/images/me-no-background+2.png');
}
/* Projects Photo */
.project1 {
  background-image: url('https://via.placeholder.com/400x600.png?text=Project+one');
  cursor: none;
}
.project2 {
  background-image: url('https://via.placeholder.com/400x600.png?text=Project+two');
  cursor: none;
}
.project3 {
  background-image: url('https://via.placeholder.com/400x600.png?text=Project+three');
  cursor: none;
}
.project4 {
  background-image: url('https://via.placeholder.com/400x600.png?text=Project+four');
  cursor: none;
}
.project5 {
  background-image: url('https://via.placeholder.com/400x600.png?text=Project+five');
  cursor: none;
}
.project6 {
  background-image: url('https://via.placeholder.com/400x600.png?text=Project+six');
  cursor: none;
}
/* Miscellaneous Activities photo */
.misc1 {
  background-image: url('https://rieger-bucket.s3.amazonaws.com/images/Jeopardy.png');
  cursor: none;
}
.misc2 {
  background-image: url('https://rieger-bucket.s3.amazonaws.com/images/bs-paint.jpg');
  cursor: none;
}
.misc3 {
  background-image: url('https://rieger-bucket.s3.amazonaws.com/images/sattelite-search.jpg');
  cursor: none;
}
.misc4 {
  background-image: url('https://rieger-bucket.s3.amazonaws.com/images/recipe_vanilla_js.png');
  cursor: none;
}
.misc5 {
  background-image: url('');
  cursor: none;
}
.misc6 {
  background-image: url('');
  cursor: none;
}
#download-link{
  color:red,
}