@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
:root {
    --primary-color:  #00635e;
    --hover-color:  #00fff2;
}


#download-link {
    color: green;
    animation-name: color;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    
  }
  
  @keyframes color {
    0% {
      color:#00635e;
    }
    50% {
      color:#00fff2;
    }
    100% {
      color: #00635e;
    }
  }